@model ETICARET.Models.Cart
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Alışveriş Sepeti</h2>
            <hr>
            @if (Model.CartItems.Count > 0)
            {<table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Quantity</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Sub Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CartItems)
                        {
                            <tr>
                                <td>
                                    <img src="~/Content/@item.Product.Image" width="50" />
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                                <td>
                                    @item.Product.Name
                                </td>
                                <td>
                                    @item.Product.Price
                                </td>
                                <td>
                                    @((item.Product.Price*item.Quantity).ToString("c"))
                                </td>
                                <td>
                                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                                    {
                                        @Html.Hidden("Id", item.Product.Id)
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <i class="fa-solid fa-trash"></i> Delete
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4"></td>
                            <td>
                                @Model.Total().ToString("c")
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="text-center">
                    <a href="/Home/List" class="btn btn-primary">
                        <i class="fa-solid fa-angles-left"></i> Alışverişe Devam Et</a>
                    <a href="/Cart/Checkout" class="btn btn-primary">
                        Alışverişi Tamamla <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
                }
            else
            {
                <div class="alert alert-warning">
                    <i class="fa-solid fa-exclamation"></i> Alışveriş Sepetinizde Ürün Bulunmamaktadır.
                </div>
            }
        </div>
    </div>
</div>

